*{
    box-sizing: border-box;
    font-family: monospace;
}

:root {
    --primary-color: black;
    --secondary-color: #242424;
    --accent-color: #2e2e2e;
    --font-color: #fff;
}

body {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    background: var(--primary-color);
    color: var(--font-color);
}

.left-col{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.new-chat-btn{
  display: flex;
  position: absolute;
  top: 25px;
  left: 25px;
  width: 50px;
  height: 50px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: var(--primary-color);
  color: var(--font-color);
  filter: invert(1);
  cursor: pointer;
}

.new-chat-btn:hover > .fa {
  font-size: 22px; /* Change the size as needed */
  transition: font-size 0.1s ease; /* Optional: Adds a smooth transition effect */
}

.right-col {
    width: 100%;
    max-width: 349px;
    height: 100%;
    border-left: 1px solid var(--accent-color);
    padding: 20px 40px;
}

.setting-span{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    font-size: 14px;
    min-height: 50px;
}

.settings-dp {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid var(--font-color);
    cursor: pointer;
}

  .checkbox-wrapper-2 .ikxBAC {
    appearance: none;
    background-color: #dfe1e4;
    border-radius: 72px;
    border-style: none;
    flex-shrink: 0;
    height: 22px;
    margin: 0;
    margin-right: 8px;
    position: relative;
    width: 46px;
  }

  .checkbox-wrapper-2 .ikxBAC::before {
    bottom: -6px;
    content: "";
    left: -6px;
    position: absolute;
    right: -6px;
    top: -6px;
  }

  .checkbox-wrapper-2 .ikxBAC,
  .checkbox-wrapper-2 .ikxBAC::after {
    transition: all 100ms ease-out;
  }

  .checkbox-wrapper-2 .ikxBAC::after {
    background-color: #fff;
    border-radius: 50%;
    content: "";
    height: 16px;
    left: 3px;
    position: absolute;
    top: 3px;
    width: 16px;
  }

  .checkbox-wrapper-2 input[type=checkbox] {
    cursor: pointer;
  }

  .checkbox-wrapper-2 .ikxBAC:hover {
    background-color: #c9cbcd;
    transition-duration: 0s;
  }

  .checkbox-wrapper-2 .ikxBAC:checked {
    background-color: #6e79d6;
  }

  .checkbox-wrapper-2 .ikxBAC:checked::after {
    background-color: #fff;
    left: 28px;
  }

  .checkbox-wrapper-2 :focus:not(.focus-visible) {
    outline: 0;
  }

  .checkbox-wrapper-2 .ikxBAC:checked:hover {
    background-color: #535db3;
  }


.chat-container{
    display: flex;
    flex-direction: column;
    border-left: 1px solid var(--accent-color);
    border-right: 1px solid var(--accent-color);
    max-width: 800px;
    width: calc(80% - 40px);
    height: 100%;
    padding: 10px 30px;
    padding-top: 20px;
    justify-content: space-between;
}

#chat-window {
    overflow-y: scroll;
}

.msg-window {
    display: flex;
    margin-bottom: 15px;
    gap: 20px;
}



.chat-dp {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid var(--font-color);
}

.msg-container {
    background: var(--secondary-color);
    width: 100%;
    border: 1px solid var(--accent-color);
    border-radius: 6px;
    font-size: 14px;
    padding: 8px 12px;
    flex: 1;
}

.msg-container h3 {
    margin: 4px;
}

.message {
    font-size: 14px;
    border: none;
    padding-left: 4px;
    margin: 10px 0;
}

.input-window{
    background: var(--primary-color);
    display: flex;
    border: 1px solid var(--accent-color);
    border-radius: 5px;
    justify-content: space-between;
    padding: 10px 14px;
    margin-bottom: 15px;
}

.input-window input{
    border: none;
    width: 100%;
    margin-right: 10px;
    background: transparent;
    color: var(--font-color);
}

input:focus{
    outline: none;
}

#send {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 30px;
    width: 32px;
    background: transparent;
    border: 1px solid var(--accent-color);
    border-radius: 4px;
    cursor: pointer;
}

#send svg{
    height: 15px;
    stroke: var(--font-color);
    fill: var(--font-color);
}